:root {
  --side-bar-bg-color: #183055;
  --active-file-bg-color: #2f4566;
  --active-file-text-color: #ffffff;
  --active-file-border-color: #757575;
  --active-search-item-bg-color: #23242b;
  --item-hover-bg-color: #ececec;
  --item-hover-text-color: #000000;
  --control-text-color: #ddd;
  --window-border: 1px solid #183055;
  --code-cursor: #f0f0f0;
}

/* 全局样式 */
body {
  font-family: 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  font-size: 36px;
  line-height: 1;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}

/* 主要的 Markdown 编辑区域 */
#write {
  position: static;
  width: 90%;
  max-width: 900px;
  line-height: 1;
  transform: none;
  height: auto;
}

/* 标题样式 */
#write h1 {
  font-size: 6.6rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#write h2 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#write h3 {
  font-size: 5.4rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#write h4 {
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#write h5 {
  font-size: 4.2rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

#write h6 {
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 段落样式 */
p {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(59, 69, 78);
}

/* 加粗的粗度 */
strong {
  font-weight: 900;
}

/* 无序列表 */
ul > li {
  font-size: 36px;
  line-height: 1.5;
}

/* 有序列表 */
ol {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 2em;
}

/* 表格样式 */
table {
  font-size: 36px;
  line-height: 2.4;
}

table tr:nth-child(2n),
thead {
  background-color: #f5f7f9;
}

/* 引用样式 */
blockquote {
  position: relative;
  padding: 3rem;
  background-color: #f5f7f9;
  border-radius: 9px;
  font-size: 36px;
  line-height: 1.5;
}
